.bg-color-1{
    background-color: #0B123F;
}
.bg-color-2{
    background-color: #2317FF;
}
.bg-color-3{
    background-color: #FFFFFF;
}

p form{
    font-family:Questrial; 
}

h2{ 
    font-family:Krona One;
}
a{ 
    font-family:Krona One;
}


a {
    color: black;
}

/* #landing {
    min-height: 100vh;
} */

#nav-bar-section {
    min-height: 10vh;
    position: sticky;
    z-index: 1;
    top: 0;
}

.input-label-font{
    font-family: Questrial;
}
#form-col{
    width: 60%;
}
body {
    font-family: Questrial !important;
  }

  textarea {
    resize: none;
  }
