.bg-color-1{
    background-color: #0B123F;
}
.bg-color-2{
    background-color: #2317FF;
}
.bg-color-3{
    background-color: #FFFFFF;
}

.nav-bg{
    background-color: #0b123f2e;
}

h2{ 
    font-family:Krona One;
}
a{ 
    font-family:Krona One;
}

.project-link{
    margin-top: 2px;
    font-family: Krona One;
    font-size:x-small;
}
#nav-bar-section {
    position: sticky;
    z-index: 1;
    top: 0;
}

@media (max-width: 426px){
    .sm-height{
        min-height: 60dvh;
        min-width: 90%;
    }

    
}

@media (max-width: 1023px){
    .top-nav{
        display: none;   
       }
}


@media (min-width: 426px) {
    .sticky-title{
        position: sticky;
        z-index: 1;
        top: 0;
    } 
}


.scroll-position{
    position: sticky;
    top: 0;
}

.scroll-position:hover{
    background-color: #ffffff56;
    border-style: solid;
    transition: 0.5s;
}


body {
    font-family: Questrial !important;
  }

html {
    scroll-behavior: smooth;
}

#navbar-container{
height: 10dvh;
}

.tool-container{
    height: 80dvh;
}


.landing-message-bg{
    background-color: #2317FF;
    opacity: 1;
    background-image:  linear-gradient(#ffffff20 0.8px, transparent 0.8px), linear-gradient(to right, #ffffff20 0.2px, #2317FF 0.8px);
    background-size: 16px 16px;
}

.landing-message-font{
    font-family: Questrial;
}

.project-header{
    font-family: Krona One;
}

.landing-banner-bg{
    background-color: #0B123F;
    opacity: 1;
    background-image:  linear-gradient(#ffffff0b 0.8px, transparent 0.8px), linear-gradient(to right, #ffffff0b 0.2px, #0B123F 0.8px);
    background-size: 16px 16px;
}

.project-bg{
    background-color:#FFFFFF;
    box-shadow: 1px 1px 5px #0B123F;
    border-radius: 20px;
}

.nav-bg{
    background-color: #ffffff;
    opacity: 1;
    background-image:  radial-gradient(#212529 0.5px, transparent 0.5px), radial-gradient(#212529 0.5px, #ffffff 0.5px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;
}

.tools-bg{
    background-color: #FFFFFF(240, 53%, 93%);
    opacity: 1;
    background-image:  linear-gradient(rgba(0, 0, 0, 0.114) 1px, transparent 1px), linear-gradient(to right, rgba(0, 0, 0, 0.114) 1px, #FFFFFF 1px);
    background-size: 20px 20px;
}

.contact-bg{
    background-color: #ffffff;
    opacity: 1;
    background-image: radial-gradient(#0000001d 0.6000000000000001px, #ffffff 0.6000000000000001px);
    background-size: 12px 12px;
}

.projects-main-bg{
    background-color: #ffffff;
    opacity: 1;
    background-image: radial-gradient(#00000017 0.6000000000000001px, #ffffff 0.6000000000000001px);
    background-size: 12px 12px;
}
/* Form formats */
.form-bg{
    background-color:#FFFFFF;
    box-shadow: 1px 1px 5px #0B123F;
    border-radius: 20px;
}

textarea {
    resize: none;
    }

input, select, textarea{
    width: 90%;
}
/* End of Form formats */
.landing-logo{
    color: white;
    text-shadow: 1px 1px 4px #FF8000, 0 0 25px #2317FF, 0 0 5px #2317FF;
}

